extends layout 

block content 

    form(method='POST')
        div.form-group 
            label(for='eventTitle') Title: 
            input#eventTitle(type='text', placeholder='Title of event', name='eventTitle', required)
        div.form-group 
            label(for='eventDescription') Description: 
            input#eventDescription(type='text', placeholder='Description of event', name='eventDescription', required)
        div.form-group 
            label(for='eventDate') Date: 
            input#eventDate(type='date', placeholder='Date of event', name='eventDate', required)
        div.form-group 
            label(for='eventTime') Time: 
            input#eventTime(type='time', placeholder='Time of event', name='eventTime', required)
        div.form-group 
            label(for='eventVenue') Venue: 
            select(name='eventVenue', id='eventVenue')
                option(value='') --Please select an venue--
                for venue in venues
                    option(value=venue.name) #{venue.name}
        div.form-group     
            label(for='eventOrganizer') Organizer 
            select(name='eventOrganizer', id='eventOrganizer')
                option(value='') --Please select an organizer--
                for organizer in organizers
                    option(value=organizer.name) #{organizer.name}
        div.form-group 
            label(for='eventParticipants') Participants
            div     
                for participant in participants 
                    input(type='checkbox', name='eventParticipants', value=participant.name, id=participant._id) 
                    label(for=participant._id) #{participant.name}

        button#submitEventForm(type='submit') Submit
    