extends layout 

block content 

    h1= title 
    p #[strong Name:] #{organizer.name}
    p #[strong Email:] #{organizer.email}
    p #[strong Phone:] #{organizer.phone}

    button 
        a(href=`/organizer/${organizer._id}/delete`) Delete organizer

    button 
        a(href=`/organizer/${organizer._id}/update`) Update organizer

