extends layout 

block content 

    h1= title 
    
    p #[strong Name:] #{venue.name}
    p #[strong Address:] #{venue.address}
    p #[strong Capacity:] #{venue.capacity}

    button 
        a(href=`/venue/${venue._id}/delete`) Delete venue